body {
    font-family: 'Domine', serif;
    font-size: 100%;
    margin: 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.banner{
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 195, 255);
    background-repeat: repeat-x;
    height: 16.7vh;
}

.logo{
    background-image: url(../img/logo.svg);
    height: 8.5vh;
    background-repeat: no-repeat;
    margin-bottom: auto;
}

h1{
    margin-bottom: 8px;
    font-size: 3.5em;
}

h2{
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 2em;
}

.text-blue{
    color: rgb(0, 195, 255);
}

h3{
    
    color: lightgray;
    margin-top: 3px;
}