body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.banner{
    background-image: url(../img/pattern.png);
    background-color: aqua;
    background-repeat: repeat-x;
    height: 16.7vh;
}

.logo{
    background-image: url(../img/logo.svg);
    height: 8.5vh;
    background-repeat: no-repeat;
    margin-bottom: auto;
}